body {
  font-family: Graphik,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -.016rem;
  color: rgba(12,11,8,.75);
  background-color: #fff;
}

.alsoLiked {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.brandname, .reviewers, .price {

  font-size: 12px;

}

.brandname, .productname, .rating, .price {
  margin: 5px 0px;
}

.productname {
  font-weight: bold;
}

.rating {
}

.stars {
  -webkit-text-stroke: 1px goldenrod;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starsFilled {
  color: gold;
  -webkit-text-stroke: 1px goldenrod;
}

.starsBlank {
  background: linear-gradient( 90deg, gold, gold 50%, transparent 50%);
  -webkit-text-stroke: 1px goldenrod;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviewers {
  margin-left: 5px;
}

.price {


}

#alsoliked {
  display: flex;
  flex-direction: column;
}

#peopleliked {
  margin-bottom: 10px;
  font-size: 20px;
}