body {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -.016rem;
  color: rgba(12,11,8,.75);
  background-color: #fff;
}

.container {
  position: relative;
}

.alsoliked, .ultbought {
  display: flex;
  flex-direction: row;
}

.productcard {
  padding: 10px;
  position: relative;
}

.productcard:hover {
  box-shadow: 0px 10px 10px grey;
}

.brandname, .reviewers, .price {
  font-size: 12px;
}

.brandname, .productname, .rating, .price {
  margin: 5px 0px;
}

.productname {
  font-weight: bold;
}

.reviewers {
  margin-left: 5px;
}

.description {
  font-size: 14px;
  font-style: italic;
}

.colorBlock {
  margin-left: 5px;
  -webkit-text-stroke: 1px black;
  font-size: 24px;
}

.onHoverHidden {
  display: none;
  flex-direction: column;
  font-size: 14px; 
  position: absolute;
}

.onHoverDisplay {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: -10px;
  background: #fff;
  position: absolute;
  font-size: 14px;
  z-index: 2;
  box-shadow: 0px 10px 10px grey;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.wishreg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  padding: 5px 0px;
  text-transform: none;
  transition: box-shadow .2s cubic-bezier(.15,0,.15,0),background-color .2s cubic-bezier(.15,0,.15,0),color .2s cubic-bezier(.15,0,.15,0);
  display: inline-block;
}

button.cart {
  width: 100%;
  background-color: #225c4e;
  box-shadow: inset 0 0 0 3px #225c4e;
  color: #f9f8f6;
  fill: #f9f8f6;
}

button.cart:hover {
  background-color: #c7dfd1;
  color: #225c4e;
}

button.util {
  width: 49%;
  background-color: #f9f8f6;
  box-shadow: inset 0 0 0 1px #928b80;
  color: #4e4d49;
  fill: #928b80;
}

button.util:hover {
  box-shadow: inset 0 0 0 3px #4e4d49;
}

#carousel1 {
  /* position: absolute; */
  z-index: 1;
}

#carousel2 {
  /* position: absolute; */
  z-index: 1;
}

#title {
  display: flex;
  flex-direction: column;
}

#peopleliked {
  margin-bottom: 10px;
  font-size: 20px;
}